<h4>{{pageTitle}}</h4>

<div class="alert alert-danger" *ngIf="errObsv$|async as errorMessage">{{errorMessage}}</div>

<table class="table table-borderless" *ngIf="userDetail$ |async as userDetail">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of userDetail">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td><button type="button" class="btn btn-primary" [routerLink]="['/user/edit',user.id]">Edit</button></td>
    <td><button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
  </tr>
</table>

<button class="btn btn-light" [routerLink]="['/']">Back</button>

<!--
For the Edit button we cannot use relative path. Why?
Clicking on the Edit button ,we expect to navigate to the UserEditComponent : /user/edit/10
The current active route is /user/10
"edit/:id" is the sibling path of ":id" and not child path of ":id".
So if we give [routerLink]="['edit',user.id]", it will try to navigate to /user/10/edit/10 which
does not exist.
So in this scenario we go for absolute path.
In case of absolute path, the router will start looking from the root of the application.
-->
